/* CODE WRITTEN BY VIRAJ MATHUR */

:root {
  --color-body-background: #000;
  --color-text-area: #141414;
  --color-text-color: #aaa;
  --color-text-active: #ddd;
  --color-text-placeholder: #555;
  --color-typing-area: #282828;
  --color-button-text: #777;
  --color-button-redo: #3f1717;
  --color-button-redo-hover: #4e1818;
  --color-change-success: #00ff37;
  --color-change-failure: #f96262;
  --border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Fira Code";
  font-style: normal;
  font-size: 2rem;
  font-weight: 300;
  background-color: var(--color-body-background);
  color: var(--color-text-color);
  letter-spacing: 1px;
}

.main__container {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 6rem;
  height: 100vh;
}

.title {
  font-size: 3.2rem;
  justify-self: center;
  font-weight: 500;
  color: var(--color-text-active);
}

.main__area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text__area {
  background-color: var(--color-text-area);
  border-radius: var(--border-radius);
  max-width: 80rem;
  padding: 2.8rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.text__generate {
  line-height: 2;
}

.typing__area {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.type {
  align-items: center;
  background-color: var(--color-typing-area);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 2rem 4rem;
}

.input__text {
  background-color: inherit;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
}

.input__text__placeholder::placeholder {
  color: var(--color-text-placeholder);
  font-size: inherit;
  font-family: inherit;
}

.input__text__placeholder__after::placeholder {
  color: var(--color-typing-area);
  font-size: inherit;
  font-family: inherit;
}

.redo {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn__redo {
  width: 100%;
  height: 100%;
  background-color: var(--color-button-redo);
  border: none;
  color: var(--color-button-text);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.btn__redo:hover {
  background-color: var(--color-button-redo-hover);
  color: var(--color-text-color);
}

.color__change__success {
  color: var(--color-change-success);
}

.color__change__failure {
  color: var(--color-change-failure);
}

.text__active {
  font-weight: 500;
}
