/* CODE WRITTEN BY VIRAJ MATHUR */

:root {
  --color-body-background: #000;
  --color-text-area: #0c0c0c;
  --color-text-color: #999;
  --color-text-active: #fff;
  --color-text-active-background: #3e3e3e;
  --color-text-placeholder: #555;
  --color-typing-area: #282828;
  --color-button-text: #aaa;
  --color-button-redo: #631720;
  --color-button-redo-hover: #8e1e29;
  --color-change-success: #49ff71;
  --color-change-failure: #ff4d4d;
  --border-radius: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Fira Code";
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--color-body-background);
  color: var(--color-text-color);
}

.main__container {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 6rem;
  height: 100vh;
}

.title {
  font-size: 3.2rem;
  justify-self: center;
  font-weight: 500;
  color: var(--color-text-active);
}

.main__area {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.text__area {
  background-color: var(--color-typing-area);
  border-radius: var(--border-radius);
  width: 85rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  z-index: -2;
}

#text__generate {
  padding: 2.8rem 4rem;
  background-color: var(--color-text-area);
  line-height: 1.9;
  border-radius: inherit;
}

.animation__slideout {
  animation: slideout 1s forwards;
}

.animation__slidein {
  animation: slidein 1s forwards;
}

.typing__area {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 1.2rem;
  transition: all 0.2s;
}

.typing__area_complete {
  display: grid;
  grid-template-columns: 0 1fr;
  transition: all 0.2s;
}

.type {
  align-items: center;
  background-color: var(--color-typing-area);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.input__text {
  border-radius: var(--border-radius);
  background-color: inherit;
  border: none;
  color: var(--color-text-active);
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  transition: all 0.2s;
  padding: 2rem 4rem;
}

.input__text:focus {
  outline: none;
  box-shadow: inset 0 0 0 1.5px var(--color-text-color);
}

.input__text__placeholder::placeholder {
  color: var(--color-text-placeholder);
  font-size: inherit;
  font-family: inherit;
}

.input__text__placeholder__after::placeholder {
  color: var(--color-typing-area);
  font-size: inherit;
  font-family: inherit;
}

.redo {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn__redo {
  width: 100%;
  height: 100%;
  background-color: var(--color-button-redo);
  border: none;
  color: var(--color-button-text);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  font-weight: 500;
}

.btn__redo:hover {
  background-color: var(--color-button-redo-hover);
  color: var(--color-text-active);
}

.color__change__success {
  color: var(--color-change-success);
}

.color__change__failure {
  color: var(--color-change-failure);
}

.text__active {
  font-weight: 400;
}

.active__word {
  color: var(--color-text-active);
}

.text__area-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.flex__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  line-height: 1;
}

.result__heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--color-text-color);
}

.reload__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-button-text);
}

.result__value {
  font-size: 8.4rem;
  font-weight: 400;
  color: var(--color-text-active);
}

@keyframes slideout {
  from {
    transform: translateY(0%);
  }

  50% {
    transform: scale(0.97);
  }

  to {
    transform: translateY(-110%);
  }
}

@keyframes slidein {
  from {
    transform: translateY(110%);
  }

  50% {
    transform: scale(0.97);
  }

  100% {
    transform: translateY(0%);
  }
}
